/*tags*/
html
{
	height: 100%;
}
body
{
	margin: 0px;
	height: 100%;
	overflow: hidden;
}
a
{
	text-decoration: none;
	color: #003399;
}
a:hover
{
	color: #3333FF;
}
h1,h2,h3,h4,h5,h6
{
	color: #3333FF;
}
h1 a,h2 a,h3 a,h4 a,h5 a
{
	color: #00FFFF;
}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
	color: #00E6E6;
}
p
{
	font-family: "Open Sans";
	padding: 0px;
}
.push-right
{
	float: right;
}
.push-left
{
	float: left;
}
.circle .small-circle
{
	position: absolute;
	opacity: 0.7;
}
.circle
{
	width: 200px;
	height: 200px;
	background: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	opacity: 0.7;
}
.small-circle
{
	width: 26px;
	height: 26px;
	-moz-border-radius: 13px;
	-webkid-border-radius: 13px;
	border-radius: 13px;
}
/*option button*/
#option-buttons
{
	z-index: 15;
	position: fixed;
}
#tab-option-button
{
	top: 25px;
	left: 30px;
	position: fixed;
	background: #FF6600;
}
#about-option-button
{
	bottom: 25px;
	right: 30px;
	position: fixed;
	background: #3333FF;
}
#tab-pointer
{
	color: #FF7519;
	display: none;
	top: 15px;
	left: 60px;
	position: fixed;
}
#about-pointer
{
	display: none;
	bottom: 10px;
	right: 60px;
	position: fixed;
}

/*pane*/
.pane
{
	position: fixed;
	height: 100%;
	padding-top: 0px;
	z-index: 25;
}
.shadow-right
{
	filter: drop-shadow(0.5px 0.5px 20px gray);
	-webkit-filter: drop-shadow(0.5px 0.5px 20px gray);
	-moz-filter: drop-shadow(0.5px 0.5px 20px gray);
	-o-filter: drop-shadow(0.5px 0.5px 20px gray);
}
.shadow-left
{
	filter: drop-shadow(-1px 1px 20px gray);
	-webkit-filter: drop-shadow(-1px 1px 20px gray);
	-moz-filter: drop-shadow(-1px 1px 20px gray);
	-o-filter: drop-shadow(-1px 1px 20px gray);
}
.info-card
{
	right: 10px;
	width: 500px;
	z-index: 25;
	background-color: white;
	opacity: 1;
	position: relative;
	font-family: "Open Sans";
	padding-left: 20px;
	padding-top: 20px;
}
.card-heading
{
	font-size: 200%;
	padding-right: 200px;
	padding-bottom: 15px;

}
.card-description
{
	font-size: 150%;
	padding-right: 200px;
	padding-bottom: 5px;
}
.card-icon
{
	position: absolute;
	right: 0px;
	top: 0px;
}
.card-1
{
	top: 10%;
}
.card-2
{
	top: 11%;
}
.card-3
{
	top: 12%;
}
.card-4
{
	top: 13%;
}
.card-5
{
	top: 14%;
}
.card-6
{
	top: 15%;
}
.card-7
{
	top: 16%;
}

/*tab panes*/
#tab-pane
{
	background-color: #FFFFFF;
	left: 0px;
	padding: 5px;
	width: 400px;
	left: -600px;
}
#tab-label
{
	color: #FF7519;
	padding: 5px;
}
.tab-section
{
	width: 80%;
	color: #000000;
}
.tab
{
	left: 50px;
	position: relative;
	padding: 15px;
	font-size: 125%;
}

.tab:hover
{
	background-color: #E6E6E6;
}


/*about tab*/
#about-tab
{
	right: -500px;
	width: 500px;
	background-color: grey;
}
.about-tab-card
{
	margin-left: 10px;
}
.small-label
{
	position: relative;
	text-align: center;
	font-family: "Open Sans";
}
#about-label
{
	background-color: #3059D6;
}


/*MAIN SECTION*/
#main-section
{
	position:relative;
	z-index: 10;
	height: 100%;
}
.full-page
{
	height: 100%;
	position: relative;
}
.subheading
{
	color: #FFFFFF;
	font-size: 200%;
	position: absolute;
}

/*intro block*/
#intro-page
{

}
#intro
{
	background-color: #E6E6E6;
	/*background: url(./img/bridge.jpg) no-repeat center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	float: right;
	height: 100%;
	width: 100%;
}
#heading-main
{
	font-size: 800%;
	font-family: Vollkorn;
	position: absolute;
	left: 30%;
	opacity: 0;
	color: #0033CC;
	padding: 0px;
}
#subheading-main
{
	color: #000000;
	font-size: 200%;
	left: 45%;
	bottom: 5%;
}
#link-menu
{
	position: relative;
	opacity: 0.7;
	top: 15%;
	left: 15px;
}
.circle-link
{
	padding-bottom: 50px;
}

/*projects page*/
#projects-page
{
	/*
	background: url(./img/ubuntu.jpg) no-repeat center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
	background-color:#0033CC;
	height: 100%;
}
#projects-intro, #projects-display
{
	float: right;
	width: 100%;
}
#heading-projects
{
	font-size: 800%;
	font-family: Vollkorn;
	position: absolute;
	left: 40%;
	top: 50%;
	opacity: 0;
	color: #FFFFFF;
}
#projects-display
{
	top: 100%;
}
.project-icon
{
	padding: 0px;
	position: absolute;
}
.project-description
{
	position: absolute;
	display: none;
}