/*tags*/
html
{
	height: 100%;
}
body
{
	margin: 0px;
	height: 100%;
	overflow: hidden;
}
a
{
	text-decoration: none;
	color: #003399;
}
a:hover
{
	color: #335CAD;
}
h1,h2,h3,h4,h5,h6
{
	color: #00FFFF;
}
h1 a,h2 a,h3 a,h4 a,h5 a
{
	color: #00FFFF;
}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
	color: #00E6E6;
}
p
{
	font-family: "Open Sans";
}
.circle .small-circle
{
	position: absolute;
	opacity: 0.7;
}
.circle
{
	width: 200px;
	height: 200px;
	background: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	opacity: 0.7;
}
.small-circle
{
	width: 26px;
	height: 26px;
	-moz-border-radius: 13px;
	-webkid-border-radius: 13px;
	border-radius: 13px;
}
/*option button*/
#option-buttons
{
	z-index: 15;
	position: fixed;
}
#tab-option-button
{
	top: 25px;
	left: 30px;
	position: fixed;
	background: orange;
}
#about-option-button
{
	bottom: 25px;
	right: 30px;
	position: fixed;
	background: cyan;
}
#tab-pointer
{
	color: #FF7519;
	display: none;
	top: 15px;
	left: 60px;
	position: fixed;
}
#about-pointer
{
	color: #00FFFF;
	display: none;
	bottom: 10px;
	right: 60px;
	position: fixed;
}

/*pane*/
.pane
{
	position: fixed;
	width: 400px;
	height: 100%;
	padding-top: 0px;
}

/*tab panes*/
#tab-pane
{
	background-color: #FFFFFF;
	z-index: 5;
	left: 0px;
	padding: 5px;
}
#tab-label
{
	color: #FF7519;
	padding: 5px;
}
.tab-section
{
	width: 80%;
	color: #000000;
}
.tab
{
	left: 50px;
	position: relative;
	padding: 15px;
	font-size: 125%;
}

.tab:hover
{
	background-color: #E6E6E6;
}


/*about tab*/
#about-tab
{
	background-color: #3399FF;
	z-index: 5;
	right: 0px;
}
.small-label
{
	position: relative;
	text-align: center;
	font-family: "Open Sans";
}
#about-label
{
	background-color: #3059D6;
}
.menu-links
{
	font-family: "Ubuntu";
	padding: 10px;
	text-align: center;
	position:absolute;
	bottom: 10px;
	left: 70px;
}
.short-bio
{

}
#self
{
	position: absolute;
	top: 50px;
}
.bio-description
{
	position: relative;
	left: 120px;
	color: #0033CC;
}


/*MAIN SECTION*/
#main-section
{
	position:relative;
	z-index: 10;
	height: 100%;
}
.full-page
{
	height: 100%;
	position: relative;
}
.subheading
{
	color: #FFFFFF;
	font-size: 200%;
	position: absolute;
}

/*intro block*/
#intro-page
{

}
#intro
{
	/*background-color: #666666;*/
	background: url(./img/nexus-gray.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	float: right;
	height: 100%;
	width: 100%;
}
#heading-main
{
	font-size: 500%;
	font-family: Vollkorn;
	position: absolute;
	left: 30%;
	top: 200px;
	opacity: 0;
}
#subheading-main
{
	color: #FFFFFF;
	font-size: 200%;
	left: 45%;
	top: 360px;
}

/*projects page*/
#projects-page
{
	background: url(./img/ubuntu.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
#projects-intro, #projects-display
{
	float: right;
	width: 100%;
}
#heading-projects
{
	font-size: 500%;
	font-family: Vollkorn;
	position: absolute;
	left: 40%;
	top: 45%;
	opacity: 0;
}
#projects-display
{
	top: 100%;
}
.project-icon
{
	padding: 0px;
	position: absolute;
}