	<!--About Page-->

	<div id="about-page" class="pane fixed-scrollable">
		<a onclick="hideAboutPage()" style="position: fixed">
			<h3>
				<i class="fa fa-backward"></i>&nbspGo Back
			</h3>
		</a>
		<center>
			<h1 class="about-heading very-big">Tinkerer, maker, entrepreneur, dreamer.</h1>
		</center>

		<div id="who-am-i">
			<p class="p-about">
				<b>Hello there, I'm Genji Noguchi.</b> I'm <span id="age"></span>* years old, and I'm currently a senior at <a href="http://stuy.enschool.org">Stuyvesant High School</a>. I love to create amazing things (check out the projects page, which is easily accessible from the left sidebar), tinker and fiddle (my Android phone is a prime example), and explore the unknown.
			</p>
				<hr>
			<p class="p-about">
				I hail originally from Toronto, Ontario, but moved to Queens, NY when I was one and a half. I've lived there ever since.
				<br><br>
				But Queens is just the place where I call home; for most of the day, I'm at school in the Greater New York Area, taking classes that I care deeply about, as well as working for Science Olympiad, a team with which I've spent so much time that they're almost family.
				<br>
				<br>
				Whenever I can clear up my work for a weekend, I go to hackathons (<a href="https://hackthenorth.com" target="_blank">Hack the North</a>, <a href="https://2014.battlehack.org/boston" target="_blank">Boston Battlehack</a>, <a href="https://codeday.org/ny" target="_blank">CodeDay New York</a>, just to name a few.). They're amazing opportunities for meeting a lot of people, doing and learning a lot of programming, and eating a lot of free food. Don't forget the stickers!

			</p>
			<p class="p-about">
				Currently, my dream is to found a tech startup company that can make a positive change on the world. At this point in time, startups have the greatest potential and influence on the United States (and the world). They're the ones that can pull the world into a place better than the one we have now. I would be the happiest man in the world to be able to make that kind of impact.
			</p>
		</div>


		<br>
		<br>

		<div id="what-done">
			<h1 class="about-heading just-big">
				What I've done.
			</h1>


		</div>


		<br>
		<br>

		<div id="what-doing">
			<h1 class="about-heading just-big">
				Where I am now.
			</h1>

		</div>

		<br>
		<br>

		<div id="site-credits">
			<h1 class="about-heading just-big">
				Site Credits.
			</h1>
			
				<ul class="p-about" style="padding: 5px;">
					<li>
						The icons are from the amazing <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> font and icon toolkit. All icons are vector images and look amazing. Check them out, it will be worth your time.
					</li>
					<li>
						Here are the fonts that I used (all free from Google Fonts):
						<ul>
							<li>Open Sans</li>
							<li>Josefin Sans</li>
							<li>Ubuntu</li>
							<li>Vollkorn</li>
							<li>Roboto</li>
							<li>Stalemate</li>
						</ul>
					</li>
					<li>
						Animation and dynamic styling done with <a href="http://jquery.com" target="_blank">JQuery</a>, the most full-featured website animation library (some say that javascript is incomplete without JQuery), and <a href="http://julian.com/research/velocity/" target="_blank">Velocity.js</a>, a tool that improves upon JQuery's $.animate() function.
					<li>
						All CSS, HTML, and JS written by Genji Noguchi (save for certain indicated CSS sections, and JQuery and Velocity libraries.)
					<li>
						This site is proudly hosted by <i class="fa fa-github-alt"></i> <a href="https://pages.github.com">Github Pages</a>.
					</li>
				</ul>
			</p>

		</div>

		<div id="site-specials">
		<h1 class="about-heading less-big">
		Extras!
		</h1>
		<ul>
		<li>*Automatically updating age!</li>

		</ul>

		</div>


	</div>
