<!--About Tab-->
		
		<div class="pane fixed-scrollable" id="about-tab">
			<div class="info-card card-1 about-tab-card">
				<div class="card-heading">Hello, I'm Genji.</div>
				<div class="card-description">
					I'm a full-stack developer who has a dream of starting a startup.
					<hr>
					<a class="read-on"><i class="fa fa-md fa-arrow-circle-right"></i></a>&nbspRead on
				</div>

				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/self2013.jpg" width="190" alt="Winter me.">

			</div>

			<div class="info-card card-2 about-tab-card">
				<div class="card-heading">What I'm doing.</div>
				<div class="card-description">
					<hr>
					<a class="read-on"><i class="fa fa-md fa-arrow-circle-right"></i></a>&nbspTell me more!
				</div>
				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/ventures/AFAR/thumbnail.png" width="140" alt="AFAR System">
			</div>

			<div class="info-card card-3 about-tab-card">
				<div class="card-heading">What I've done.</div>
				<div class="card-description">
					<hr>
					<a class="read-on"><i class="fa fa-md fa-arrow-circle-right"></i></a>&nbspSure, let me see.
				</div>
				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/ventures/ZeroPool/thumbnail.JPG" width="140" alt="ZeroPool.">
			</div>

			<div class="info-card card-4 about-tab-card">
				<div class="card-heading">Site Credits.</div>
				<div class="card-description">
					<hr>
					<a class="read-on"><i class="fa fa-md fa-arrow-circle-right"></i></a>&nbspCough up!
				</div>
				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/font-awesome-logo-solid.png" width="140" alt="Font Awesome is awesome.">
			</div>

		</div>