<!--About Page-->

<div id="about-page" class="pane fixed-scrollable">
	<h1 id="about-heading">Tinkerer, maker, entrepreneur, dreamer.</h1>
	<p class="p-about">
		I'm Genji Noguchi. I'm <span id="age"></span> years old, and I'm currently a senior at <a href="http://stuy.enschool.org">Stuyvesant High School</a>. I love to create amazing things (check out the projects page, which is easily accessible from the left sidebar), tinker and fiddle (my Android phone is a prime example).
		<br><br>
		Currently, my dream is to found a tech startup compnay that can make a positive change on the world. At this point in time, startups have the greatest potential and influence on the United States (and the world). They're the ones that can pull the world into a place better than the one we have now.
	</p>
	<!--
	<p id="about-heading">What have I done?
		My dream is to found a tech startup company that can make a positive change on the world. At this point 

	</p>
-->
</div>