	<!--About Page-->

	<div id="about-page" class="pane fixed-scrollable">
	<h1 class="about-heading very-big">Tinkerer, maker, entrepreneur, dreamer.</h1>

	<div id="who-am-i">
		<p class="p-about">
			1'm Genji Noguchi. I'm <span id="age"></span>* years old, and I'm currently a senior at <a href="http://stuy.enschool.org">Stuyvesant High School</a>. I love to create amazing things (check out the projects page, which is easily accessible from the left sidebar), tinker and fiddle (my Android phone is a prime example).
			<br><br>
			Currently, my dream is to found a tech startup compnay that can make a positive change on the world. At this point in time, startups have the greatest potential and influence on the United States (and the world). They're the ones that can pull the world into a place better than the one we have now. I would be the happiest man in the world to be able to make that kind of impact.
		</p>
	</div>

	<div id="what-done">
		<h1 class="about-heading just-big">
			What I've done.
		</h1>


	</div>

	<div id="what-doing">
		<h1 class="about-heading just-big">
			Where I am now.
		</h1>

	</div>

	<div id="site-credits">
		<h1 class="about-heading just-big">
			Site Credits.
		</h1>
		
			<ul class="p-about">
				<li>
					The icons are from the amazing <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> font and icon toolkit. All icons are vector images and look amazing. Check them out, it will be worth your time.
				</li>
				<li>
					Here are the fonts that I used (all free from Google Fonts):
					<ul>
						<li>Open Sans</li>
						<li>Josefin Sans</li>
						<li>Ubuntu</li>
						<li>Vollkorn</li>
						<li>Roboto</li>
						<li>Stalemate</li>
					</ul>
				</li>
				<li>
					All CSS, HTML, and JS written by Genji Noguchi.
				<li>
					This site is proudly hosted by <a href="https://pages.github.com">Github Pages</a>.
				</li>
			</ul>
		</p>

	</div>

	<div id="site-specials">
	<h1 class="about-heading less-big">
	Extras!
	</h1>
	<ul>
	<li>*Automatically updating age!</li>

	</ul>

	</div>


	</div>
