<!--About Tab-->
		
		<div class="pane fixed-scrollable" id="about-tab">
			<div id="about-preview-general"  class="info-card card-1 about-tab-card">
				<div class="card-heading">Hello, I'm Genji.</div>
				<div class="card-description">
					I'm a full-stack developer who has a dream of starting a startup.
					<hr>
					<a class="read-on" onclick="showAboutPage('')">
						<i class="fa fa-md fa-arrow-circle-right"></i>
						&nbspRead on </a>
				</div>

				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/self2013.jpg" width="190" alt="Winter me.">

			</div>

			<div id="about-preview-done" class="info-card card-2 about-tab-card">
				<div class="card-heading">What I've done.</div>
				<div class="card-description">
					
					Resume, life story, and a super cool 3D pool program.
					<hr>
					<a class="read-on" onclick="showAboutPage('what-done')">
						<i class="fa fa-md fa-arrow-circle-right"></i>
						&nbspTell me more! </a>

				</div>
				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/ventures/ZeroPool/thumbnail.JPG" width="190" alt="ZeroPool.">
			</div>

			<div id-"about-preview-doing" class="info-card card-3 about-tab-card">
				<div class="card-heading">What I'm doing.</div>
				<div class="card-description">
					The things that I'm working on now, and what I aspire to do.
					<hr>
					<a class="read-on" onclick="showAboutPage('what-doing')">
						<i class="fa fa-md fa-arrow-circle-right"></i>
						&nbspSure, let me see.</a>
				</div>
				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/ventures/AFAR/thumbnail.png" width="200" alt="AFAR System">
			</div>

			<div id="about-preview-credits" class="info-card card-4 about-tab-card">
				<div class="card-heading">Site Credits.</div>
				<div class="card-description">
					Credits to my site, like FontAwesome! (shown right)
					<hr>
					<a class="read-on" onclick="showAboutPage('site-credits')">
						<i class="fa fa-md fa-arrow-circle-right"></i>
						&nbspCough up!
					</a>

				</div>
				<div class="card-links"></div>
				<img class="card-icon" src="./res/img/font-awesome-logo-solid.png" width="190" alt="Font Awesome is awesome.">
			</div>

			<div class="info-card card-5 about-tab-card">
				<div id="humanitybox"></div>
				<script type="text/javascript" src="https://d21djfthp4qopy.cloudfront.net/humanitybox.js"></script>
			</div>

		</div>
