	<head>
		<title>Genji Noguchi</title>


		<!--Links-->

		<link rel="shortcut icon" href="./res/icon.png">
		<link rel="stylesheet" type="text/css" href="./res/css/main.css">
		<link rel="stylesheet" type="text/css" href="./res/css/font-awesome-4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin Slab">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

		<!---->

		<!--Resources-->
		
		<script src="./res/js/jquery.min.js"></script>
		<script src="./res/js/jquery.velocity.min.js"></script>
		<script src="./res/js/intro.js"></script>

		<!---->

	</head>