<!--Intro page-->
			
			<div id="intro-page" class="full-page">
				<div id="intro">
					<a href=""><h1 id="heading-main">
						Hey, it's Genji.
					</h1></a>

					<div id="link-menu">

						<a id="twitter-link" class="circle-link" href="https://twitter.com/genjinoguchi" target="_blank">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<br>
						<a id="facebook-link" class="circle-link" href="https://facebook.com/genjinoguchi" target="_blank">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<br>
						<a id="github-link" class="circle-link" href="https://github.com/genjinoguchi" target="_blank">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						</br>
						<a id="resume-link" class="circle-link" href="http://genjinoguchi.github.io/res/Resume-GenjiNoguchi.pdf" download>
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-list fa-stack-1x fa-inverse"></i>
							</span>
						</a>	
						<br>
						<a id="linkedin-link" class="circle-link" href="https://linkedin.com/in/genjinoguchi" target="_blank">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<br>
						<a id="gmail-link" class="circle-link">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						
						<div id="send-message">
							<form method="POST" action="http://formspree.io/genji.noguchi@gmail.com">
								Contact me anytime, anywhere.<br>
							    Name:<input type="text" name="name" placeholder="Genji Noguchi"><br>
							    Email:<input type="email" name="_replyto" placeholder="genji.noguchi@gmail.com"><br>
							    Message:<br><textarea name="message" rows="3"></textarea>
							    <button type="submit">Submit</button>
							</form>
						</div>

					</div>

					<p id="subheading-main" class="subheading">
						Full-stack developer, startup entrepreneur, dreamer.
					</p>

				</div>

			</div>
