<!--Intro page-->
			
			<div id="intro-page" class="full-page">
				<div id="intro">
					<a href=""><h1 id="heading-main">
						Hey, it's Genji.
					</h1></a>

					<div id="link-menu">

						<a id="twitter-link" class="circle-link" href="https://twitter.com/makergenji">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<br>
						<a id="facebook-link" class="circle-link" href="https://facebook.com/genjinoguchi">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<br>
						<a id="github-link" class="circle-link" href="https://github.com/genjinoguchi">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<br>
						<a id="linkedin-link" class="circle-link" href="https://linkedin.com/genjinoguchi">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
							</span>
						</a>
						<br>
						<a id="gmail-link" class="circle-link" href="https://genji.noguchi@gmail.com">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
						</a>

						<form method="POST" action="http://forms.brace.io/genji.noguchi@gmail.com">
						    Name:<input type="text" name="name" placeholder="Genji Noguchi"><br>
						    Email:<input type="email" name="_replyto" placeholder="genji.noguchi@gmail.com"><br>
						    Message:<br><textarea name="message" rows="3"></textarea>
						    <button type="submit">Submit</button>
						</form>

					</div>

					<p id="subheading-main" class="subheading">
						Site still under construction. Check back soon!
					</p>

				</div>

			</div>