<!--Projects Page-->
			<div id="projects-page">


				<div id="projects-intro" class="full-page">
					<h1 id="heading-projects">Projects</h1>
				</div>
				<div id="projects-section" class="full-page">
					<div id="projects-display">
						{% for project in site.ventures %}

							<li class="project-icon shadow-right">
								<img class="icon-sm project-icon-thumbnail" src="{{ project.thumbnail }}" onclick=" showDescription('{{project.id}}-description' )">
								<div class="thumbnail-description">
									<center>{{ project.title }}</center>
								</div>
							</li>

						{% endfor%}

					</div>

					<div id="project-descriptions">
						{% for project in site.ventures %}
							<div id="{{ project.id }}-description" class="project-description">
								{{ project.content }}
							</div>
						{% endfor %}
					</div>

				</div>
				

			</div>