
<!--
<div class="desktop pure-u-xs-0 pure-u-sm-1-12">
-->
<a href="/portfolio/{{ project.category }}/{{ project.anchor }}">
    <div class="desktop proj-block pure-u-xs-0 pure-u-sm-1">
        <img src="/res/img/src/{{project.thumbnail}}" width="480" height="300"/>
        <p>
            <b style="font-size: 170%;"> {{ project.name }} </b>
            <i>{{ project.sub }}</i>
        </p>
    </div>
    <!-- Mobile View -->
    <div class="mobile proj-block pure-u-xs-1 pure-u-sm-0">
        <img src="/res/img/src/{{project.thumbnail}}" width="100%"/>
        <p style="margin-top: 5px;"> <b> {{ project.name }} </b> </p>
        <p> {{ project.sub }} </p>
    </div>
</a>
