<!--Projects Page-->
			<div id="projects-page">


				<div id="projects-intro" class="full-page">
					<h1 id="heading-projects">Projects</h1>
					<center>
						<i id="pointer-down" class="fa fa-5x fa-angle-double-down"></i>
					</center>
				</div>
				<div id="projects-section" class="full-page">
					<div id="projects-display">
						{% for project in site.ventures %}

							<li class="project-icon shadow-right">
								<img class="icon-sm project-icon-thumbnail" src="{{site.url}}/res/img/ventures/{{ project.thumbnail }}" onclick=" showDescription('{{project.id}}-description' )">
								<div class="thumbnail-description">
									<center>{{ project.title }}</center>
								</div>
							</li>

						{% endfor%}

					</div>

					<div id="project-descriptions">
						{% for project in site.ventures %}
							<div id="{{ project.id }}-description" class="project-description">
								<center>
									<a onclick=" hideDescription('{{project.id}}-description')"><i class="fa fa-3x fa-home"></i></a>
									<h1 class="project-heading">
										{{ project.title }}
									</h1>
									<h2>
										{{ project.tagline }}
									</h2>
									<h3>
										Timeframe: {{ project.timeframe }}
									</h3>
								</center>
								<br>
								{{ project.content }}
								<center>
									<a onclick=" hideDescription('{{project.id}}-description')"><i class="fa fa-3x fa-home"></i></a>
								</center>
							</div>
						{% endfor %}
					</div>

				</div>
			</div>