<!--About Page-->

<div id="about-page" class="pane">
	<h1 id="about-heading">Tinker, maker, entrepreneur, dreamer.</h1>
	<p class="p-about">
		I'm Genji Noguchi. I'm <span id="age"></span> years old, and I'm currently a senior at <a href="http://stuy.enschool.org">Stuyvesant High School</a>.

	</p>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
	hurr<br>
</div>