#about-front-page {
	z-index : 10;
	top : -36px;
	position : relative;
	background-color : $sky-blue;
	height: 60%;

	@include leftjust-background-image (
		"/res/img/berkeley-skyline.jpg"
	);
	@extend .full-page-background-image;
}
