$font-sans		: Arial, sans-serif;
$font-serif		: Arial, serif;

/* Nice Colors. */
$sky-blue		: #ADEBFF;
$blue 			: #3366CC;
$red			: #FF4D4D;
$light-gray 	: #E6E6E6;
$gray 			: #999999;


a {
	color : $blue;
	text-decoration: none;
	font-family: $font-sans;
}
h1 {
	text-decoration : none;
}
body {
	background-color : $light-gray;
}

/* Classes for Positioning */
.push-right {
	float : right;
}
.push-left {
	float: left;
}

/* Classes for Sizing */
.full-page {
	position : relative;
	height : 100%;
}
.container {
	position : relative;
}
.full-page-background-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Mixins */
@mixin blur-fade-background-image($imgpath) {
	background-image : url($imgpath);
	background-repeat : no-repeat;
}

/* Font Size */

