#home-front-page {
	z-index : 10;
	top : -36px;
	position : relative;
	background-color : #B8FF94;
	@include blur-fade-background-image(
		"/res/img/airplane-window-horizon.jpg"
	);
	
	@extend .full-page-background-image;
}
