#home-front-page {
	z-index : 10;
	top : -60px;
	position : relative;
	background-color : #B2B2B2;
	@include centered-background-image(
		"/res/img/airplane-window-horizon-bw.jpg"
	);
	@extend .full-page-background-image;



	#logo-block{
		position: absolute;

		#logo-desktop {
			max-width: 300px;
			left: 30%;
			position: relative;
		}

		#logo-mobile {

		}

	}
}


#home-info-cards {
	@include centered-background-image(
		"/res/img/beach-blur.jpg"
	);
	@extend .full-page-background-image;

	margin: 0;
	padding: 0;

	position: relative;
	top: -4em;
}
