nav {
	z-index : 15;
	position : absolute;
	width : 100%;

	h1 {
	
	}	

	#mobile-navbar {
	
	}

	.mobile-navbar-anchor {
		position : absolute;
		/*margin-left : 5%;*/
		/*top : -7em;	*/
	}

	a {
		width : 80%;
		padding : 25px 25px;
		margin-left : auto;
		margin-right : auto;
		margin-top : 10px;
		text-decoration: none;
		font-family: $font-sans;
		display : block;
		color : black;
	}

	#home-anchor-mobile,
	#home-anchor {
		background-color : white;
		/*
		@include blur-fade-background-image(
			"/res/img/family-cropped.jpg",
			$anchor-width,
			$anchor-height
			);
			*/
	}

	#portfolio-anchor-mobile,
	#portfolio-anchor {
		background-color : white;
		/*
		@include blur-fade-background-image(
			"/res/img/desk.jpg",
			$anchor-width,
			$anchor-height
			);
			*/
	}

	#blog-anchor-mobile,
	#blog-anchor {
		background-color : white;
		/*
		@include blur-fade-background-image(
			"/res/img/bacon-cropped.jpg",
			$anchor-width,
			$anchor-height
			);
			*/
	}



}
