---
layout : project_layout

---


<div id="proj-front-page">
	<div id="proj-header-block"
        style="background-image : url(/res/img/src/{{page.landing}});">
	</div>
    <div id="proj-header">
        <center>
            <h1 id="header">
                {{page.name}}
            </h1>
            <h1 id="subheader">
                {{page.sub}}
            </h1>
            <h1 id="timeframe">
                <b>{{page.timeframe}}</b>
            </h1>
        </center>
    </div>
</div>

<div id="content-container">
    <div id="content">
        {{ content }}
    </div>
</div>
