

<!--Remember to change the icon-->
<!--
	Make an interactive movement thing so that parts of the page respond to cursor movements.
	Make the backgrounds change for each refresh
	
	Possible color themes: 
		Grey-green
		Grey-cyan
		Red, dull yellow, royal blue
		White, orange, possibly black
		Silver white
-->

<!DOCTYPE html>
<html>
	
	{% include head.html %}

	<body>
		
		{% include option-buttons.html %}
		{% include tab-pane.html %}
		{% include about-tab.html %}
		{% include about.html %}

		<div id = "main-section">
			
			{% include intro-page.html %}
			{% include project-page.html %}

		</div>

	</body>

</html>
