body
{
	padding: 100px;

}
h1
{
	text-align: center;
	display: none;
}
h2
{
	font-family: sans-serif;
	display: none;
}
table
{
	border: 1px solid;
	border-collapse: collapse;
	border: 1px solid #FF0000;
}
table td{
	border: 1px solid #FF0000;
}
tr
{
	border: 1px solid green;
}
p
{
	color: yellow;
	font-family: sans-serif;
}
#top-row
{
	background-color: #666666;
}
#one
{

}
#two
{

}
#three
{

}